.Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #000;
    padding: 47px;
    border: 1px solid #000;
    height: 333px;

}
.Description {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.ButtonList{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 36px;
}