.InputLabel{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
.InputStyle{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #9892a7;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: #9892a7;
}
.InputStyle:focus {
    border-color: #f1af80;
}

.InputStyle:disabled {
    border-color: #9892a7;
}