.content{
    width: 500px;
    height: 500px;
    background-color: #3a3a3a;
    border-radius: 20px;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.backDrop{
    background-color: rgba(0, 0, 0, 0.23);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}